{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Alghifari TN</title>
    <link type="text/css "rel="stylesheet" href="{% static 'css/siji.css' %}">
    <link type="image/png" rel="icon" href="{% static 'img/icon.png' %}" />
  </head>
  <body>
    <!-- Overlay -->
    <div id="overlay">

      <!-- Main Code Start -->
      <div id="header" class="section">

        <h1>Alghifari Taufan Nugroho</h1>

        <div id="intro">
          <span>Information System Student at University of Indonesia</span>
        </div>

        <hr>

        <div id="self">
          <img src="{% static 'img/profile-min.JPG' %}" alt="Alghifari TN">
        </div>

        <div id="info">
          <div id="me">
            <ul>
              <li>NPM : 1806146846</li>
              <li>Hobby : Photography</li>
            </ul>
          </div>

          <div id="about">
            <p>I am interested in Photography and Design.
              I like to receive advice from others for my work,
              and can put myself well enough in group work.</p>
            </div>
        </div>
      </div>
      <!-- Main Code End -->

    </div>
  </body>
</html>
