{% extends 'base.html' %}
{% load static %}

{% block title %}404 - Alghifari{% endblock %}

{% block style%}
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
{% endblock %}

{% block content %}
<!-- 404
====================================================================== -->
<section class="half container-fluid" style="background: #6C7778;">
  <div class="row">
    <div class="col-md-3 col-sm-12" id="empatnol">
      <img src="{% static 'img/404.svg' %}">
    </div>
    <div class="col-md-9 col-sm-12" id="nolempat">
      <h5 class="mt-4">An error on has occured</h5>
      <p class="mb-5 mt-3">{{ request.path }} is not available</p>
      <a class="btn btn-primary" style="margin: 0;" role="button" href="{% url 'index' %}">Back to Home</a>
    </div>
  </div>
</section>
{% endblock %}