{% extends 'base.html' %}
{% load static %}

{% block style%}
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
{% endblock %}

{% block content %}

<header>
{% include 'nav.html' %}
</header>

<!-- home
====================================================================== -->
<section id="home" class="home container-fluid">
  <div class="row" id="intro">
    <div class="col-md">
      <h1>Alghifari Taufan Nugroho</h1>
      <span>Daydreamer</span>
      <span>Imperfect</span>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md" id="arrow">
      <a href="#about" class="d-flex flex-column align-items-center"><img src="{% static 'img/arrow.png' %}"></a>
    </div>
  </div>
</section>

<!-- about
====================================================================== -->
<section id="about" class="about container-fluid flex-column flex-lg-row">

  <div class="self col col-xl-2">
    <img src="{% static 'img/self.jpg' %}" alt="self">
    <div id="verline"></div>
  </div>

  <div class="col col-xl-5 left">
    <h3>I'm <span style="color:#F9B42D;">Alghi</span>fari Taufan Nugroho</h3>
    <p class="mb-4">Currently an Information System Student
    that interested in photography. Would like
    to learn Bussiness and Web Development</p>

    <h4>FULLNAME</h4>
    <p>Alghifari Taufan Nugroho</p>

    <h4>BIRTH DATE</h4>
    <p>May 16th, 2000</p>

    <h4>CONTACT</h4>
    <p>nvanon9@gmail.com</p>

  </div>

  <div class="col col-xl-5 right">
    <h3>Skills</h3>

    <h4>PHOTOGRAPHY</h4>
    <div class="progress mb-2"><div id="one" class="progress-bar"></div></div>
    <h4>PYTHON, JAVA</h4>
    <div class="progress mb-2"><div id="two" class="progress-bar"></div></div>
    <h4>ADOBE ILLUSTRATOR</h4>
    <div class="progress mb-2"><div id="three" class="progress-bar"></div></div>
    <h4>HTML, CSS</h4>
    <div class="progress mb-2"><div id="four" class="progress-bar"></div></div>
    <a class="btn btn-primary" role="button" href="https://www.linkedin.com/in/alghifari-taufan-nugroho-a76ab0171/" target="_blank">See More</a>
  </div>

</section>

<!-- gallery
====================================================================== -->
<section id="gallery" class="gallery container-fluid flex-column flex-md-row">
  <div class="col-sm h-100" id="gal">
    <h2>Gallery</h2>
  </div>
  <div class="col-sm h-100" id="image">
    <img src="{% static 'img/img1.jpg' %}" alt="Image 1">
    <img src="{% static 'img/img2.JPG' %}" alt="Image 2">
    <img src="{% static 'img/img3.jpg' %}" alt="Image 3">
  </div>
</section>

<!-- contact
====================================================================== -->
<section id="contact" class="half container-fluid flex-column flex-md-row">
  <div class="col-sm title h-100">
    <h2>Contact</h2>
  </div>
  <div class="col-sm h-100" id="soc">
    <a target="_blank" href="https://twitter.com/FariTN_"><i class="fa fa-twitter"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/alghifari-taufan-nugroho-a76ab0171/"><i class="fa fa-linkedin"></i></a>
    <a target="_blank" href="https://www.instagram.com/faritn_/"><i class="fa fa-instagram"></i></a>
    <a target="_blank" href="https://github.com/nvanonim"><i class="fa fa-github"></i></a>
  </div>
</section>
{% endblock %}
