{% extends 'base.html' %}
{% load static %}

{% block style%}
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
{% endblock %}

{% block content %}
<!-- project
====================================================================== -->
<section class="half container-fluid flex-column flex-md-row">
  <div class="col-sm h-100 title">
    <h2 id="projname">Projects</h2>
    <a class="btn btn-primary" role="button" href="{% url 'index' %}">Back to Home</a>
  </div>
  <div class="col-sm h-100" id="proj">
    <div class="projitem">
      <a href="https://quanta2018.com" target="_blank"><img src="{% static 'img/quanta.png' %}" alt="quanta2018.com"></a>
    </div>
  </div>
</section>
{% endblock %}