{% extends 'base.html' %}
{% load static %}

{% block style%}
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
{% endblock %}

{% block content %}

{% include 'nav.html' %}

<!-- schedule
====================================================================== -->
<section class="half container-fluid flex-column flex-lg-row">
  <div class="col-sm h-100 title" style="background: #36403E;">
    <h2>Schedules</h2>
  </div>
  <div class="schedule col-sm h-100 d-flex justify-content-center align-items-center">
    <form class="d-flex flex-column my-2 w-75" method="POST">
      {% csrf_token %}
      {% for field in form %}
      <p class="w-100 justify-content-center my-1">{{ field.label }}: <br> {{ field }}</p>
      {% endfor %}
      <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2">Submit</button>
    </form>
  </div>
</section>
<section id="schedule" class="schedule container-fluid w-100 d-flex flex-column flex-lg-row justify-content-center align-items-center" style="background: #16A085;">
  <div class="row bg-white m-auto w-50" style="overflow: hidden; overflow-y:auto; height: 70%;">
    {% for i in schedules %}
    <div class="row bg-white m-auto p-3" id="sched">
      <div class="col-sm-4 mt-2"><h5>Event Name:</h5></div>
      <div class="col-sm-8 mt-2"><p>{{ i.name }}</p></div>
      <div class="col-sm-4"><h5>Place:</h5></div>
      <div class="col-sm-8"><p>{{ i.place }}</p></div>
      <div class="col-sm-4"><h5>Category:</h5></div>
      <div class="col-sm-8"><p>{{ i.category }}</p></div>
      <div class="col-sm-4"><h5>Date:</h5></div>
      <div class="col-sm-8"><p>{{ i.date }}</p></div>
      <div class="col-sm-4"><h5>Time:</h5></div>
      <div class="col-sm-8"><p>{{ i.time }}</p></div>
      <div class="col-sm-12 d-flex align-items-end justify-content-end">
        <form method="POST" action="{% url 'schedule' %}">
          {% csrf_token %}
          <input name="id" value="{{i.id}}" type="hidden">
          <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2" style="font-size: 0.8rem;">Delete</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}

{% block script %}
{% endblock %}
