{% load static %}
<!-- header-navbar
    ====================================================================== -->
<div class="dropdown transparent">
  <button onclick="navMenu()" class="dropbtn">Menu<img src="{% static 'img/Dropdown.png' %}"></button>
    <div id="myDropdown" class="dropdown-content">
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'index' %}#about">About</a>
      <a href="{% url 'index' %}#gallery">Gallery</a>
      <a href="{% url 'index' %}#contact">Contact</a>
      <a href="{% url 'project' %}">Projects</a>
      <a href="{% url 'schedule' %}">Schedules</a>
    </div>
</div>
<script src="{% static 'js/dropdown.js' %}"></script>
